.content-overlay {
  z-index: 3; /* z-index of customHeader is 2 */
  background-color: white;
  padding: 32px;
}

.h3-logo {
  text-transform: uppercase;
}

.a-down {
  box-shadow: none;
  color: black;
}
