.h2-account {
  line-height: 1;
  font-family: "Aharoni Bold";
}

.a-answer {
  line-height: 1;
  padding: 0px;
}

.a-answer img {
  border-radius: 5px;
}

.a-result {
  padding: none;
  box-shadow: none;
}

.button-register-save {
  color: black;
  background-color: inherit;
}
