.button-profile-save {
  background-color: inherit;
}

.h2-account {
  line-height: 1;
  font-family: "Aharoni Bold";
}

.a-answer {
  line-height: 1;
  padding: 0px;
}

.a-answer img {
  border-radius: 5px;
}
