.ant-modal-close {
  box-shadow: none;
}

.img-team {
  width: 100px;
  height: 100px;
}

.h5-welcome {
  display: inline-block;
}

.h5-welcome-color {
  text-transform: uppercase;
  display: inline-block;
  padding-left: 6px;
}
