.a-logo {
  box-shadow: none;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  padding: 0px;
}

.a-logo img {
  height: 50px;
}

.button-menu-buttons {
  background-color: inherit;
  border-color: transparent;
  font-size: 24px;
  height: 60px;
}
